
.continueFindNumWrap {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  margin-top: 34px;

  .continueFindNumTip {
      width:75%;
      margin-left: 5%;
      font-size: 16px;
  }
}