.flexCenter {
  display: flex;
  align-items: center;
  justify-content: center;
}

.boxItem {
  flex: 1;
  height: 80px;
  text-align: center;
  cursor: pointer;
}

.title {
  line-height: 20px;
  font-size: 14px;
  margin-bottom: 8px;
  text-align: center;
}

.value1 {
  font-weight: 700;
  line-height: 32px;
  font-size: 30px;
  color: #722cff;
}
.value2 {
  font-weight: 700;
  line-height: 32px;
  font-size: 30px;
  color: #ff2c56;
}
